{
    "workbench.colorTheme": "Theme Mix",
    "git.suggestSmartCommit": false,
    "workbench.activityBar.location": "hidden",
    "workbench.statusBar.visible": false,
    "terminal.explorerKind": "integrated", 
    "terminal.integrated.altClickMovesCursor": false,
    "terminal.integrated.allowMnemonics": true,
    "editor.mouseWheelZoom": true,
    "cursor.aipreview.enabled": true,
    "cursor.cpp.enablePartialAccepts": true,
    "typescript.suggest.autoImports": true,
    "typescript.tsdk": "node_modules/typescript/lib",
    "typescript.format.enable": true,
    "typescript.preferences.organizeImports": {"typeOrder": "auto"},
    "editor.acceptSuggestionOnEnter": "smart",
    "workbench.editor.editorActionsLocation": "hidden",
    "editor.wordWrap": "on",
    "editor.horizontalScrolling": false,
    "cursor.terminal.usePreviewBox": true
}
